  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary: #4671;
    --sec: red;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: montserrat;
    background: whitesmoke;
    height: 100vh;
  }

  header {
    position: sticky;
    top: 0;
    min-height: 6rem;
    width: 100%;
  }

  svg {
    cursor: pointer;
  }

  header nav {
    background: hsl(16, 70%, 50%, 0.9);
    background: var(--primary);
    backdrop-filter: blur(0rem);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: hsla(176, 0%, 41%, .1);

    height: 4.9rem;
    z-index: 3;
  }

  input[type="unknown"]:hover {
    border: 1px solid red;
    outline: 1px solid red;
  }

  header h1,
  .overlay h1 {
    padding: 1rem;
    font-weight: bold;
    color: gray;
    font-size: 1rem;
  }

  header h1>#welcome {
    color: #453;
    font-weight: lighter;
  }

  header h1>#user {
    color: #467;
    font-size: .9rem;
  }

  header img {
    padding-inline: 1em;
    padding-block: .4rem;

    filter: invert(50%);

    cursor: pointer;
  }

  #mobile-nav-toggle {
    z-index: 10;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    background: url("icons/menu_FILL0_wght400_GRAD0_opsz48.svg");
    background-size: cover;
    background-position: center;

    filter: invert(70%);

    width: 2rem;
    height: 2rem;

    border: 0;
  }

  #mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("icons/close_FILL0_wght400_GRAD0_opsz48.svg");
  }

  .overlay[data-visible="true"] {
    width: 100vw;
    height: 100vh;

    background: hsla(0, 0%, 0%, .8);

    position: absolute;
  }


  #primary-navigation,
  #primary-calculator,
  #primary-records,
  #primary-analysis,
  #primary-activities,
  #primary-home {
    z-index: 3;

    position: fixed;
    top: 0;

    width: 100vw;
    height: 87vh;

    background: linear-gradient(#aec1, #aec, #aec1, #aec, #aec1);
    backdrop-filter: blur(.2rem);
    color: black;

    text-align: center;

    padding: 1rem;
    margin-inline: auto;

    overflow: scroll;
    transform: translateX(100%);
    transition: .3s;

  }

  #primary-calculator {
    transform: translateX(-100%);
    z-index: 11;

    background: #111;

    padding: 0;
    overflow: hidden;

    transition: .41s;
  }

  #primary-calculator-toggle {
    position: absolute;
    top: .5rem;
    right: .4rem;

    background: url("/Restaurant app/icons/highlight_off_black_24dp.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(50%) grayscale();

    border: 0;

    min-width: clamp(1rem, 10vw, 4rem);
    aspect-ratio: 1;
  }

  #primary-calculator-history>input[type="text"] {
    position: fixed;
    top: 20%;
    right: 5%;

    height: 7%;
    width: 90%;

    border: 0;

    background: transparent;
    color: white;

    font: inherit;
    font-size: 2rem;

    text-align: right;
  }

  #primary-calculator-history>input[type="text"]:hover {
    outline: transparent;
  }

  #primary-calculator-history>#result-box {
    position: absolute;
    top: 30%;
    right: 5%;

    color: white;

    width: 100%;

    font-size: 1.5rem;
    text-align: right;
  }

  #primary-calculator-actions {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background: #222;

    height: 60%;
    width: 100vw;
  }

  #primary-calculator-actions button {
    border: 0;

    background: transparent;

    margin-inline: 4px;

    font-size: 1.8rem;

    width: 20%;
    aspect-ratio: 1;

    cursor: pointer;
  }

  #primary-calculator-actions .number {
    color: #fff;
  }

  #primary-calculator-actions .operator {
    color: hsla(240, 70%, 80%, 1);
  }

  #primary-calculator-actions #cancel img {
    cursor: none;

    margin-top: 0.5rem;
    margin-right: 1rem;

    width: 120%;
    aspect-ratio: 1;

    filter: invert(50%) sepia();
  }

  #primary-calculator-actions>#equals {

    border-radius: 20px;
    padding: 5%;

    font-size: 3rem;

    background: hsla(240, 600%, 75%, 1);
    color: #fff;
  }

  #primary-calculator[data-closng="true"] {
    transform: translateX(-100%);
  }

  #primary-navigation[data-visible="true"],
  #primary-calculator[data-visible="true"] {
    transform: translateY(0%);
  }

  #primary-navigation[data-transed="true"] {
    transition: 0s;
  }

  #primary-navigation ul {
    display: flex;
    flex-flow: row wrap;

    list-style: none;
    text-align: left;

    border-left: .1px solid grey;
  }

  #primary-navigation ul li {
    background: #4674;

    width: 40%;
    height: 30%;

    padding: .4rem;
    margin: 1rem;

    transition: .1s;
  }

  #primary-navigation ul li:hover,
  #primary-navigation ul li:focus {
    padding: .5rem;

    background: hsla(2, 15%, 71%, .51);

    margin: 1rem;
  }



  #primary-navigation ul li a {
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    display: block;
  }

  #primary-navigation #input-container {
    margin-block-start: 1rem;
  }

  #primary-navigation ul li a img {
    height: 6vh;
  }



  #input-box {
    background: none;
    color: gray;

    border: 1px solid dimgray;
    border-radius: 50px;

    padding: 0.9rem;

    font: inherit;
    text-align: center;

  }

  #input-box:focus {
    border: 1px solid dimgray;
    outline: none;
  }

  .input-button {
    display: block;

    margin: 1.5rem auto;
    padding: 0.5rem 1rem;

    background: #5A5742;
    color: white;

    font-family: inherit;

    border: none;
    outline: none;
    border-radius: 50px;
  }

  #nav-kits {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    bottom: 0%;

    padding-inline: 1.5em;

    backgroun: #F7A072;
    backgroun: #00CFC1;
    backgrond: #467;
    backdrop-filter: blur(0rem);

    width: 100%;
    height: 12%;
  }

  #nav-kits img {
    text-decoration: none;
    transition: .1s ease-in-out;
  }

  #nav-kits img {
    height: 4.6vh;

    padding: .5rem;

    background: hsla(240, 100%, 99%, .7);
    backdrop-filter: blur(1rem);

    border-radius: 10px;
    box-shadow: 1px 1px 2px #467;
  }

  #nav-kits img:nth-child(3) {
    height: 5.9vh !important;
  }

  #nav-kits img:hover {
    box-shadow: 1px 1px 1rem #00FFB2;
    height: 5.5vh;
  }

  #primary-form {
    z-index: 1;


    padding: 5% 18%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

  }

  #primary-form label {

    color: #467;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    padding-left: 0;
  }

  #primary-form input {
    padding: 1rem 3rem 1rem;
    width: 100%;
    height: 2%;

    border: 1px solid cadetblue;
    border-radius: 14px;

    margin-bottom: 1.5rem;

    color: #457;
    text-align: center;
    font-family: ubuntu;
    font-size: 1.2rem;
  }

  #primary-form button {
    border: none;
    border-radius: 10px;

    font-size: 1rem;

    padding: .6rem .2rem;

    width: 50%;

    margin: auto;

    background: #467;
    color: #fff;

    font: inherit;

  }

  .none {
    display: none;
  }

  #primary-records,
  #primary-home,
  #primary-analysis,
  #primary-activities {
    padding: 0;
    height: 88%;
    transform: translateX(-130%);
  }

  #primary-home,
  #primary-analysis,
  #primary-activities {
    transform: translateY(130%);
    background: hsla(180, 100%, 50%, 0.66);
    background: hsla(176, 100%, 41%, 0.34901960784313724);
    transition: 0s;
    box-shadow: 10px 10px 5rem cyan;
  }

  #primary-analysis {
    background: hsla(161, 100%, 50%, 0.34901960784313724);
  }

  #primary-activities {
    background: hsla(181, 100%, 50%, 0.34901960784313724);
  }

  #primary-records #title,
  #primary-home #title,
  #primary-analysis #title,
  #primary-activities #title {
    position: sticky;
    top: 0;

    height: 12%;
    width: 100%;

    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: hsl(162 100% 42%);
    backdrop-filter: blur(1rem);
    color: #fff;

    font-size: 1.2rem;
    font-weight: bolder;
  }

  #primary-records #title h1,
  #primary-analysis h1 {
    font-size: 1.2rem;
  }

  #delete-btn,
  #visibility-btn {
    border: 0;
    background: none;
  }

  #primary-analysis #title {
    background: hsla(161, 70%, 50%, 0.94901960784313724);
  }

  #primary-records #title span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }

  #primary-records #title img {
    height: 3.5vh;
  }

  #primary-records[data-visible="true"],
  #primary-home[data-visible="true"],
  #primary-analysis[data-visible="true"],
  #primary-activities[data-visible="true"] {
    transform: translateX(0%);
  }

  #primary-home,
  #primary-analysis,
  #primary-activities {
    transform: translateX(200%);
  }

  .sub-title {
    text-align: left;
    padding-top: 1rem;
    padding-left: .9rem;
    font-size: 1.1rem;
  }

  .sub-title[data-visible="false"] {
    display: none;
  }

  #record-cards #display {
    display: flex;
    flex-flow: column-reverse;
  }

  #selected {
    display: none;
  }

  .cstm-card {
    /*background: hsla(12, 100%, 29%, .1);
   */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0.5rem;
    margin-block-end: 0 1rem;
  }

  .circle {
    width: 15%;
    aspect-ratio: 1;
    background: url("/Restaurant app/icons/account_circle_black_24dp.svg");
    background-size: contain;
    background-position: 0;

    border-radius: 50px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 1.5rem;
  }

  .card-main {
    ackground: #529200A3;
    width: 100%;
    text-align: left;

    padding-inline-start: 1rem;
  }

  .cstm-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
  }

  .cstm-title h1 {
    font-size: 0.9rem;
  }

  .card-main p {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
  }

  #pop-up {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0%;
    background: #0009;
    display: none;
    place-items: center;
    z-index: 9999;
  }

  #pop-up #dialog-box {
    width: 80%;
    min-height: 70%;;
    
    position: relative;

    background: white;
    
    padding-block: min(6%,10%,13%);
    padding-inline: 10%;
    border-radius: 5px;
  }
  
  #dialog-box > h1{
    font-size: 1.9rem;
    font-weight: lighter;
    color: #467;
  }
  
  #dialog-box button{
    position: absolute;
    bottom: 10%;
    
    padding: 4%;
    padding-inline: 10%;
    border-radius: 5px;
    
    font: inherit;
    font-weight: bold;
    font-size: 1rem;
  }
  #item{
    height: 30vh;
    overflow: scroll;
  }
  #item .cstm-card{
    margin-block: 1rem;
    padding-inline: 0;
    border-bottom: 1px solid gray;
    background: transparent!important;
  }
  #yes-btn{
    background: #467;
    color: white;
    border: 1px solid #467;
    margin-left: 0;
  }
  #no-btn{
    left: 30%;
    margin-inline: 25%;
    color: #466;
    background: transparent;
    border: 1px solid #467;
  }
