* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4671;
  --pad-inline: .5rem;
  --pad-block: .5rem;
  --nav-bg: hsla(0, 0%, 100%, 0.1);
  --nav-blur: 1rem;
  --nav-height: 20%;
  --nav-width: 60vw;
  --form-gap: 2rem;
}

::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient( pink,skyblue);
  border-radius: 2rem;
}

.top {
  height: 100vmax;
  width: 100vw;
  background-image:
    linear-gradient(150deg, hsla(0, 10%, 8%, .2), hsla(0, 0%, 0%, .3)),
    url("herosection.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  position: absolute;
  inset: 0;
  z-index: -1;
}

@font-face {
  font-family: ubuntu;
  src: url("pops.ttf");
}

@font-face {
  font-family: montserrat;
  src: url("mont.ttf");
}

@font-face {
  font-family: connd;
  src: url("Quicksand-Light.ttf");
}


html {
  scroll-behavior: smooth;
}

body {
  --body-bg: #fff;
  color: navajowhite;
  font-family: montserrat;
  height: auto;
  position: fixed;
  max-width: 100vw;
  inset: 0%;
  transition: inset 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: var(--body-bg);
  text-align: center;
}


body.insetY {
  inset: -100%;
  --body-bg: #111;
}

body.insetY3 {
  inset: 0 0 0 100%;
  position: fixed;
}

body.insetY3 #mobile-nav-toggle {
  position: static;
}

body.insetY #primary-form,
body.insetY #mobile-nav-toggle,
body.insetY #nav-kits img:not(img) {
  transition: 8s;
}

body.insetY .top {
  transition-delay: 0.5s;
}

body #primary-records {
  transition: 1s !important;
  scale: 1;
  opacity: 0.8;
}

.top,
#primary-form,
#mobile-nav-toggle,
#nav-kits img,
body.insetY #primary-records {
  transition: all 350ms ease-in-out !important;
}

body.insetY #primary-records {
  scale: 1;
}

header, #primary-form h2 {
  position: absolute;
  top: 0;
  margin: 0rem auto;
  width: 100vw;
  height: 4rem;
  z-index: 3;
  box-shadow: 0px 0px 1rem #eee;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 5rem;
  --line-width: 25px;
  background: repeating-linear-gradient(-45deg, #1111, #1112 var(--line-width), transparent var(--line-width), transparent calc(var(--line-width) * 1));
  background: url("customer.png");
}

header > h1 {
  font-family: ubuntu;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #101;
  font-size: 1rem;
  margin: 1.5rem 1.6rem;
}

/*
header p {
  display: none;
  width: var(--nav-width);
  height: var(--nav-height);

  margin-left: .4rem;
  padding: var(--pad-block) var(--pad-block);

  border-radius: 50px;

  backdrop-filter: blur(--nav-blur);
  background: var(--nav-bg);
  color: whitesmoke;
  font-size: .1rem;
  font-family: connd;
}

header p #home {
  color: aliceblue;
}

header p #user {
  filter: invert(50%);
}

header p span span {
  font-weight: bolder;
  color: red;
  font-family: ubuntu;
}



header img:not(#user-circle img) {
  padding-inline: 1rem;
  padding-block: .4rem0


  filter: invert(50%);

  cursor: pointer;
}
*/

header #install {
  margin: .5rem 1rem;
  width: 30%;
  height: 70%;
  font-family: ubuntu;
  border-radius: 6rem;
  font-size: .8rem;
  font-weight: bolder;
  color: #101;
  border: orange solid;
  text-decoration: orange underline;
  background: linear-gradient(orange, orange), url("favicon.png");
  display: none;
}


#mobile-nav-toggle {
  z-index: 100;
  width: 2rem;
  background: url("menu_FILL0_wght400_GRAD0_opsz48.svg");
  background-size: cover;

  background-position: center;
  filter: invert(0%);
  aspect-ratio: 1;
  margin: 1.5rem 1.6rem;

  border: 0;
}

#user-circle {
  scale: .5;
  position: absolute;
  bottom: -1rem;
  left: -7rem;
  opacity: .5;

  text-align: center;
  font-family: ubuntu;
  font-size: 59%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: top center;

  border: 0;
  background: #0000;
}

#user-circle img {
  width: 25%;
  aspect-ratio: 1;
  border-radius: inherit;
}

#mobile-nav-toggle[aria-expanded="true"] {
  backgrund-image: url("close_FILL0_wght400_GRAD0_opsz48.svg");
  transition: 0s !important;
  border: solid black;
  border-radius: 5px;
}

.overlay {
  backdrop-filtr: blur(.3rem);
  transform: translateX(-200vw);
  transition: .1s ease-in;
  width: 100vw;
  height: 200vh;
  background: hsla(0, 0%, 0%, .6);
  opacity: 0;
  /*
  background: #fff;
background: url("favicon.png");
  background-size: contain;
  background-position: 0 0;
*/
  position: fixed;
  transition: opacity .5s ease-out, transform 1s .5s ease;
}

.overlay[data-visible="true"] {
  transform: translateX(0vw);
  opacity: 1;
  transition: opacity .5s ease-in, transform 0s ease;
}

#hero {
  height: 100%;
  width: 100vw;
  position: sticky;
  inset: 0;
  background: transparent;
}

.section {
  z-index: 0;

  position: fixed;
  top: 0;

  color: black;

  transform: translateX(100%);
  transition: transform 350ms ease-in;

}

#primary-navigation[data-visible="true"],
#primary-calculator[data-visible="true"] {
  opacity: 1;
  transform: translateX(0%);
}

#primary-navigation {
  --child-pad: 2rem;
  --bg: #fff;
  height: 100vh;
  width: 75vw;

  background: var(--bg);
  background-mage:
    linear-gradient(150deg, hsla(0, 0%, 100%, .39), hsla(0, 0%, 0%, .2)),
    url("herosection.jpg");
 
  background-blend-mode: darken;
  background-size: cover;
  opacity: 1;
  transform: translateX(-150vw);
  /*  Display offed */
  position: fixed;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  font-weight: bold;
  color: #191919;
  overflow: scroll;
  padding: 0;
  transition: opacity 1s ease-in-out, transform .4s ease;
}

#primary-navigation section {
  box-shadow: 0px 0px 1px inset #aaa;
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: .7rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background: var(--bg);
}

#primary-navigation section div { 
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 4rem;
  background: #E6E3DC;
}
#primary-navigation #user-details  {
  
}
#primary-navigation #user-details div {
  position: static;
  transform: translate(-0%, 0%);
}

#primary-navigation section > div > span::before{
  content: '';
  width: 0; height: 0;
  border: 1rem solid #768FA5;
  aspect-ratio: 1;
  transform: translate(-150%, -150%);
  position: absolute;
  border-radius: 4rem;
  top: 0;
}

/*#primary-navigation section>div>span::beflore {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, 128%) rotate(45deg);
  border: 1rem #57677B solid;
  border-bottom: 0rem transparent;
  border-right: 0rem transparent;
  border-radius: 2rem 0 2rem 0;
  top: 0;
  z-index: 1;
}*/

#primary-navigation section > div > span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, 70%) rotate(45deg);
  border: 2.5rem #9DB3C8 solid;
  border-bottom: 3rem transparent;
  border-right: 0rem transparent;
  border-radius: 3rem 0 2.34rem 0;
  top: 0;
}

/*
9DB3C8 for the bottom circle
768FA5 for the center circle
57677B for mid intersection shape
666666 for the small tag and settings icon
F8C67F for top half pro icon
E5A23D for bottom half pro icon
*/

#primary-navigation section > span   {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}

#primary-navigation section  p big  {
  font-size: 1.2rem;
}
#primary-navigation section p small {
  font-weight: 500;
  color: #666666;
}

#primary-navigation ul {
  display: flex;
  flex-flow: column ;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 50px;

  list-style: none;
  
  width: 100%;
  height: 100%;

  gap: 3rem;
  padding: var(--child-pad);
}

#primary-navigation ul li a {
  font-size: 1.1rem;
  font-weight: bolder;

}
#primary-navigation ul li a img {
  height: 6vh;
}

#primary-navigation #footer {
  position: sticky;
  bottom: 0;
  height: 5.5rem;
  flex-flow: column nowrap;
}

#primary-navigation #footer > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: #0000;
  width: 100%;
}

#primary-navigation #footer > div > div, #primary-navigation #footer img{
  width: 1.2rem; 
  aspect-ratio: 1;
  border-radius: 5px;
  background: linear-gradient( -135deg, #F8C67F 50%, #E5A23D 50%);
}

#primary-navigation #footer img{
  background: transparent;
}

#primary-navigation[data-visible="true"] ul {
  border: red;
}


#primary-calculator {
  transform: translateY(200vh);
  z-index: 11;

  background: #111;

  padding: 0;
  overflow: hidden;

  transition: .41s;
  width: 100vw;
  height: 100vh;
}

#primary-calculator-toggle {
  position: absolute;
  top: .5rem;
  right: .4rem;

  background: url("highlight_off_black_24dp.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%) grayscale();

  border: 0;

  min-width: clamp(1rem, 10vw, 4rem);
  aspect-ratio: 1;
}

#primary-calculator-history>input[type="text"] {
  position: fixed;
  top: 20%;
  right: 5%;

  height: 7%;
  width: 90%;

  border: 0;

  background: transparent;
  color: white;

  font: inherit;
  font-size: 2rem;

  text-align: right;
}

#primary-calculator-history>input[type="text"]:hover {
  outline: transparent;
}

#primary-calculator-history>#result-box {
  position: absolute;
  top: 30%;
  right: 5%;

  color: white;

  width: 100%;

  font-size: 1.5rem;
  text-align: right;
}

#primary-calculator-actions {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  background: #222;

  height: 60%;
  width: 100%;
}

#primary-calculator-actions button {
  border: 0;

  background: transparent;

  margin-inline: 4px;

  font-size: 1.8rem;

  width: 20%;
  aspect-ratio: 1;

  cursor: pointer;
}

#primary-calculator-actions .number {
  color: #fff;
}

#primary-calculator-actions .operator {
  color: hsla(240, 70%, 80%, 1);
}

#primary-calculator-actions #cancel img {
  cursor: none;

  margin-top: 0.5rem;
  margin-right: 1rem;

  width: 60%;

  filter: invert(50%) sepia();
}

#primary-calculator-actions>#equals {

  border-radius: 20px;
  padding: 5%;

  font-size: 3rem;

  background: hsla(240, 600%, 75%, 1);
  color: #fff;
}

#primary-calculator[data-closng="true"] {
  transform: translateX(-100%);
}

#arrow {
  width: 23px;
  aspect-ratio: 1;
  background: url("arrow_circle_right_FILL0_wght400_GRAD0_opsz48.svg");
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: fixed;
  top: 15.2rem;
  right: 20%;
  display: none;
}

#nav-kits {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
  position: fixed;
  bottom: 0%;
  right: 0%;

  width: calc(var(--nav-width)/.1vw);
  height: calc(var(--nav-height)/5vh);
  overflow-x: hidden;
  width: 100%;
  height: 4rem;
  box-shadow: 0px 0px .3rem  #aaa;


  backdrop-filter: blur(--nav-blur);
  background: var(--nav-bg);
  background: hsl(0, 0%, 100%, 0.1);
  background-image:
    url("herosection.jpg")!important;
  border-radius: 0;
  transfor: translate(-15%, -50%);
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: saturation;
  border-top: 1px solid slategray;
  transition: all .4s,  filter 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}

@keyframes wheel {
  20% {
    transform: rotate3d(0, 0, 0.7, 0deg) translateX(-6%);
  }

  80% {
    transform: rotate3d(0, 0, 0.7, 0deg) translateX(6%);
  }
}

@keyframes wheel2 {
  20% {
    transform: rotate3d(0, 0, 0.7, 0deg) translateX(0px);
  }

  80% {
    transform: rotate3d(0, 0, 0.7, 720deg) translateX(0px);
  }
}

#nav-kits img {
  height: 2.2em;
  transition: .3s !important;
  border-radius: 0px;
}
#nav-kits button {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: 0;
  background: transparent;
}

#nav-kits #records-toggle {
  border-radius: 0px!important;
}

/*
  #home-kit{
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 1px;
    padding-top: .5rem;
    font-weight: bolder;
    font-family: connd;
  }
  #nav-kits.expanded{
    --img-align: flex-end;
    height: 98vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
  }
  */
#nav-kits:hover {
  transition: 3s;
  transform: scale3d(1, 1, 1.5);
}

#nav-kits img:hover {
  filter: drop-shadow(0px 0px .5rem navajowhite);
  border-radius: .4rem;
  box-shaow: 1px 1px .001rem #333;
}


#nav-kits #add-toogle {
  box-shadow: none;
}

#nav-kits.nav-dark {
 /*
 backgrund: hsl(0, 0%, 0%, 0.85);
  backgroud: linear-gradient(45deg, lightpink, lightblue);
  box-shdow: 1px 1px .3rem #333;
  animation: cired 1000ms linear ;
  aspect-ratio: 3/2 !important;
  */
}

#nav-kits.nav-dark #records-toggle,#nav-kits #navigator{
  border-radius: 0px;
  box-shadow: none;
  backgrond: repeating-linear-gradient(45deg, deeppink, #aaa);
}
#nav-kits #navigator{
  position: absolute;
  height: 8%;
  top: 0;
  width: calc(var(--nav-height));
  border-radius: 3rem;
  transition: .1s ;
  z-index: -1;
  background: url("herosection.jpg");
  background-position: center right;
}


#nav-kits.nav-dark #add-toggle {
  box-shadow: 1px 1px .3rem #FF8000;
  box-shadow: none;
  animation: cirle 5000ms linear reverse infinite;
  transform: rotate(180deg);
}

@keyframes circled {
  0% {

    rotate: 180deg;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    filter: drop-shadow(1px 1px 2rem 2222) hue-rotate(360deg);
  }
}

#primary-form {
  --form-wd: 90%;
  --form-ht: 85%;
  transform: translateX(200vw);

  width: var(--form-wd);
  height: var(--form-ht);
  box-shadow: 0rem 7rem 1rem #eee;

  position: absolute;
  margin-top: 0rem;
  left: calc((100% - var(--form-wd))/2);

  padding: 1rem;
  padding-block: 7rem 1rem;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'two two'
    'three three'
    'four four'
    'five five'
    'six six'
  ;
  gap: 1.5rem;
  
  font-weight: bolder;
  font-size: 1rem;
  background: #0000;
}

 #primary-form::after{
  content: "";
  position: absolute;
  
  
  background: #000;
  animation: shadow 1000ms  infinite forwards ;
  filter: hue-rotate(360deg);
}

@keyframes shadow{
  from{
    box-shadow: 5rem 7rem 1rem antiquewhite, 0px 0px 1rem #eee;
  }
  to{
   box-shadow: 5rem 7rem 1rem #eee, 0px 0px 1rem antiquewhite;
    filter: hue-rotate(720deg) saturate(20000%);
  }
}


#primary-form label {
 display: none;
}

#primary-form input {
  padding-block-start: 0;
  padding-block-end: 0;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  width: 100%;
  height: 80%;

  border: 0px;
  box-shadow: 0px 0px 5px  #eee;
  
  background: #0000;
  
  background: var(--nav-bg);
  backdrop-filter: blur(var(--nav-blur));
  border-radius: 4px;

  color: #111;
  text-align: left;
  font-family: ubuntu;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
}

#primary-form .warn-text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  font-family: ubuntu;
  text-transform: lowercase;
  font-size: .8rem;
 opacity: 0;
 transform: translateY(-10%);
 transition: 350ms;
 color: antiquewhite;

  margin-top: -1rem;
}

#primary-form .warn-text img {
  height: 1rem;
  aspect-ratio: 1;
}
/*
#primary-form input:hover,
#primary-form input:focus,
#primary-form input:active {
  outlin;
}*/

#primary-form h2 {
  grid-area: one;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5rem;
  
  font-size: 1.1rem;
  
  width: 100%;
  heigt: 4rem;
  padding:  1rem;
  backgrolund: linear-gradient(45deg,antiquewhite , navajowhite);
  color: #111;
  text-align: left;
}

#primary-form div:nth-of-type(1) {
  grid-area: two;
}

#primary-form div:nth-of-type(2) {
  grid-area: three;
}

#primary-form div:nth-of-type(3) {
  grid-area: four;
}

#primary-form button{
  grid-area: five;
}

#primary-form div:nth-of-type(4) {
  grid-area: six;
}

#primary-form #info-box input{
  font-size: xx-small;
  height: 100%;
}



#primary-form button {
  border: 0;
  outline: 3px solid antiquewhite;

  border-radius: 5px;
  font-size: 1rem;
  height: 2.5rem;
  background: transparent;
  color: antiquewhite;


  font-family: montserrat;
  font-weight: bolder;
  font-size: .9rem;
  transition: 1s;
  rotate: 0deg;
}

#primary-form button {
  background: blanchedalmond;
  outlie: 0;
  color: #3E3427;
  widt: 7rem;
  scle: 1;
}

#primary-form button img {
  height: 1.2rem;
  background: blanchedalmond;
  border-top-left-radius: 12.5px;
  padding: .1rem;
}

.none {
  display: none;
}
/*
#primary-records,
#primary-home,
#primary-analysis,
#primary-activities {
  padding: 0;
  height: 90%;
  transform: translateX(-130%) skewY(0deg);

}
*/
#primary-home,
#primary-analysis,
#primary-activities {
  transform: translateY(130%);
  background: hsla(180, 100%, 50%, 0.66);
  background: hsla(176, 100%, 41%, 1);
  transition: 0.5s;
  box-shadow: 10px 10px 5rem hsla(176, 100%, 41%, 1);
}

#primary-analysis {
  background: hsla(161, 100%, 50%, 1);
  box-shadow: 10px 0px 5rem hsla(161, 100%, 50%, 1);
}

#primary-records[data-visible="true"],
#primary-home[data-visible="true"],
#primary-analysis[data-visible="true"],
#primary-activities[data-visible="true"] {
  transform: translateX(0%);
  opacity: 1;
}

#primary-home,
#primary-analysis,
#primary-activities , #analysis-title{
  transform: translateX(200%);
}

#primary-activities {
  background: hsla(181, 100%, 50%, 0.34901960784313724);
  box-shadow: 10px 10px 5rem cyan;
}

#primary-records .top-bar,
#primary-analysis .top-bar {
  --records-bg: #111;
  position: sticky;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5rem;
  padding-inline: 5%;
  border-radius: 0;
  
  backdrop-filter: blur(var(--nav-blur));
  background: var(--records-bg);
  box-shadow: 1px 1px 1rem #333;

  font-size: 1.2rem;
  font-weight: lighter;
  font-family: montserrat;
  background: url("fi-brands-devianart.svg");
  color: #333!important;
  background-image: linear-gradient(45deg, pink, skyblue);
  height: 4rem;
  top: 1rem;
  width: 90%;
  left: 5%;
  border-radius: .3rem;
  box-shadow: 0px 0px 1rem #aaa;

}

#primary-analysis .top-bar {
  position: sticky;
  top: 0;
  background: hsla(161, 70%, 50%, 0.94901960784313724);
}

#primary-records .top-bar h1,
#primary-analysis h1 {
  font-size: 1rem;
  color: navajowite;
  
}

#primary-records .utility {}

.utility button,
#tools button {
  border: 0;
  background: none;
  position: relative;
}

#visibility-btn {
  display: block;
}

#tools-btn img,
#search-btn img,
#exit-btn img {
  border-radius: 50px;
  height: 2.1rem !important;
  width: 1.5rem !important;
  background: pink;
  position: relative;
}

#search-btn img{
  background: transparent;
}

#exit-btn {
  position: fixed;
  bottom: -34.5rem;
  right: .5rem;
  background: antiquewhite;

  border: 0;
  border-radius: 50px;

  width: 3rem;
  aspect-ratio: 1;
  display: none;
}

#exit-btn svg {}

#tools {
  display: flex;
  flex-flow: column ;
  align-items: center;
  justify-content: center;
  gap: var(--form-gap);

  height: auto;
  width: 3.5rem;

  position: absolute;
  bottom: -500%;
  right: 4%;
  transform: translateX(0%);
  background: #fff;

  border-radius: 50px;
  padding: 2rem 1rem;

  opacity: 0;
  transition: 250ms all;
  background: conic-gradient(antiquewhite, hsla(34, 78%, 92%, 1));
}

#tools[data-visible="true"] {
  transition-timing-function: cubic-bezier(0.5, -2.0, 0.15, 2.0);
  opacity: 1;
  transform: translate(30%, 0%);
}

#tools[data-visible="false"] span:not(#delete-btn .dot) {
  opacity: 0;
  transform: translateY(100%);
  scale: 0;
}

#nav-kits > button {
  position: relative;
}

#nav-kits .dot {
  position: absolute;
  right: 1rem;
  top: .5rem;
  width: .5rem;
  aspect-ratio: 1;
  background: red;
  z-index: -2;
  border-radius: 2rem;
  opacity: 0;
  scale: 0;
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#cube-box span,
#id-btn span,
#delete-btn .dot {
  position: absolute;
  top: -1.9rem;
  left: 24%;
  height: 50px;
  aspect-ratio: 1 !important;
  background: linear-gradient(#111, #112);
  border-radius: 50px;
  display: grid;
  place-items: center;
  scale: 0.24;
  transform: translateY(0%);
  font-size: 1.4rem;
  opacity: 1;
  transition: opacity 1500ms ease-in, transform 700ms ease-out, all .5s;
}

#tools[data-visible="false"] #delete-btn .dot {
  opacity: 0;
  scale: 0.1;
}

#tools[data-visible="true"] #delete-btn .dot {
  transition: opacity 700ms ease-in, all 0.5s;
  font-size: 2rem;
  opacity: 1;
  color: #fff;
  scale: 0.24;
}
#tools[data-visible="true"] #cube-box img {
  filter: none;
}
#cube-box img{
  filter: invert();
  transition: filter 1s ;
}


#cube-box span img,
#id-btn span img {
  heght: 100%;
  with: 100%;
}


#primary-records .utility img {
  height: 3.5vh;
}

.sub-title {
  text-align: left;
  font-size: 100%;
  height: 4rem;
  padding: 1rem;
  padding-left: 2.3rem;
  width: 100%;

  position: sticky;
  top: -2rem;
  margin-top: -3rem;
  font-weight: lighter;
  color: #233;
  font-family: ubuntu;
  
}

.sub-title[data-visible="false"] {
  display: none;
}

#new-cards #display {
  display: flex;
  flex-flow: column-reverse;
}

#records-all {
  padding-block: 3rem;
  overflow: scroll;
  height: 87vh;
}

#selected {
  display: none;
}

#primary-records {
  --records-bg: linear-gradient(45deg, hsla(36, 100%, 84%, .9), hsla(36, 100%, 84%, .9), hsla(36, 100%, 84%, .9));
  --sub-bg: ;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
  z-index: 0;
  transform: translateX(100%);
}

.cstm-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  padding: 1rem .6rem;
  font-family: ubuntu;
  
  box-shadow: 1px 1px .4rem #444;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, pink, skyblue);
  margin-inline: auto;
  transition: scale 350ms;
  
  trasition-timing-function: cubic-bezier(0.5, -2.0, 0.5, -1.0);
}

.cstm-card.angle {
  scale: 0.8;
  /*transform: rotate3d(8, 20, 20, -90deg);*/
}

.cstm-card.angle .circle {
  filter: invert(50%) sepia() hue-rotate(170deg) brightness(110%);
}

.cstm-card:nth-of-type(even) {}

.circle {
  width: 15%;
  aspect-ratio: 1;
  background: url("account_circle_black_24dp.svg");
  background-size: contain;
  background-position: 0;

  border-radius: 50px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 1.5rem;
}



.card-main {
  width: 100%;
  text-align: left;

  padding-inline-start: 1rem;
}

.cstm-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.cstm-title h1 {
  font-size: 0.9rem;
}

.card-main p {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

#pop-up {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0%;
  background: #0009;
  display: none;
  place-items: center;
  z-index: 9999;
}

#pop-up #dialog-box {
  width: 18rem;
  min-height: 17rem;
  

  position: relative;

  background: white;

  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 5px;
  color: initial;
  filter: invert();
}

#dialog-box>h1 {
  font-weight: bolder;
  color: #467;
  font-size: 1.4rem;
  text-align: left;
}

#dialog-box button {

  padding: 4%;
  padding-inline: 10%;
  border-radius: 5px;

  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: auto;
}

#item {
  height: 25vh;
  overflow: scroll;
}

#item .cstm-card {
  margin-block: 1rem;
  padding-inline: 0;
  border-bottom: 1px solid gray;
  background: transparent !important;
  box-shadow: 1px 1px 1rem transparent;
  width: 100%;
}

#yes-btn {
  background: #467;
  color: white;
  border: 1px solid #467;
}

#no-btn {
  left: 30%;
  color: #466;
  background: transparent;
  border: 1px solid #467;
  padding-block-start: 1rem;
}

/*{background: #fe85;outline: 1px solid red;}*/

#primary-analysis {
  box-shadow: none;
  transform: translateX(300vw) !important;
  height: 100%;
  padding: 1rem;
  width: 100%;
  /* margin-inline: auto;
   */
  z-index: 0;
  background: linear-gradient(90deg, hsl(0, 0%, 0%, .9), hsl(0, 0%, 0%, .9)), url("herosection.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-position: 10% 70%;
  background: #fff;
  background: repeating-linear-gradient(180deg, #fff, #fff, #fff, #fff, #fff, #fff, #FFDEAD);
  display: grid;
  gap: 2.5rem;

  grid-aut-columns: 1fr;
  grid-template-areas:
    'one one'
    'two three'
    'two three'
    'four four'
    'five five';
  overflow: scroll;
}

#primary-analysis article {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: repeating-linear-gradient(45deg, #FAEBD74D, #FFDEAD8A);
  background: hsl(0, 0%, 0%, 0.75);
  box-shadw: .1rem .1rem .41rem inset #999;
  backdrop-filter: blur(1rem);
  padding: 0rem;
  background: #0000;
  position: relative;
  box-shadow: .1rem .1rem .41rem  #999;
  padding: 2rem;
}

#primary-analysis article:nth-of-type(1) {
  grid-area: one;
  background: linear-gradient(135deg, skyblue, blueviolet);
  background: linear-gradient(90deg, hsl(0, 0%, 100%, .9), hsl(0, 0%, 100%, .9)), url("herosection.jpg");
  background-image: -webkit-cross-fade(url("/contactless_black_24dp.svg"), url("cube.png"), 77%);
  background-image: cross-fade(url("/doorbell_black_24dp.svg.jpg"), url("cube.png"), 50%);
  background-size: cover;
  background-position: center;
}

#primary-analysis article:nth-of-type(2) .box h1 {
  color: #111;
  backdrop-filter: bur(01rem);
  border-radius: inherit;
  padding: 1rem;
  font-size: 2rem;
  box-shadow: none;
  border: 0;
  -webkit-text-stroke: 1px #111;
  color: #1110;
}

#primary-analysis article:nth-of-type(2) .box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backdrop-filter: blur(var(--nav-blur)) grayscale();
  box-shadow: .1rem .1rem .41rem  #000;
  background: #fff;


}

#primary-analysis article:nth-of-type(2) .box div {
  width: 100%;
  height: 100%;
  --line-width: 25px;
  background: repeating-linear-gradient(-45deg, gold, gold var(--line-width), transparent var(--line-width), transparent calc(var(--line-width) * 2));
  border-radius: inherit;
  backdrop-filter: blur(var(--nav-blur)) grayscale();
  box-shadow: .1rem .1rem .41rem  #000;
}

#primary-analysis article:nth-of-type(2) {
  grid-area: two;
  /*backgrond: linear-gradient(45deg, pink, skyblue);
  background: cross-fade(url("herosection.jpg") 100%, url("/cube.png") 0%);
  background-image: -webkit-cross-fade(url("scale.jpg"), url("cube.png"), 7%);
  background-image: cross-fade(url("scale.jpg"), url("cube.png"), 100%);
  -webkit-background-size: cover;
  background-size: cover;
*/
  backgroud-image:
    linear-gradient(45deg, #fff1, #fff1),
    url("herosection.jpg");
  background-size: cover;
  box-shadow: .1rem .1rem .41rem  navajowhite;
  background-position: 0% 60%;
  background-blend-mode: difference;
  background: transarent;
  padding: 0;
  /* box-shadow: .1rem .1rem .41rem inset cyan; */
}

#primary-analysis article:nth-of-type(3) {
  grid-area: three;
  /* box-shadow: .1rem .1rem .41rem inset purple; */
}

#primary-analysis article:nth-of-type(4) {
  grid-area: four;
  /* box-shadow: .1rem .1rem .41rem inset blueviolet; */
}

#primary-analysis article:nth-of-type(5) {
  grid-area: five;
  background: #fff;
  /*  box-shadow: .1rem .1rem .41rem inset darkgreen; */
}

@media (max-width: 50em) {
  #primary-analysis {
    grid-template-areas:
      'one one'
      'one one'
      'two two'
      'three three'
      'four four'
      'five five'
  }
}

#primary-analysis article h1 {
  text-align: left;
  font-family: montserrat;
  color: #111;
  border-bottom: 1px lightgray solid;
  min-height: 50%;
  border-radius: inherit;
  padding: 1rem;
  box-shadow: .1rem .1rem .41rem inset #999;
}

#primary-analysis article div p {
  font-size: 1rem;
}

#primary-analysis article div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: none;
  padding: 3rem 1rem;
  box-hadow: .1rem .1rem .41rem inset #999;
}

#primary-analysis article div img {
  aspect-ratio: 3/2;
  border-radius: 1rem;

}

/*.grid-col-2{
    grid-column: span 2;
  }
  #primary-analysis{
    grid-template-columns:
      repeat(4, 1fr);  
  }
  #primary-analysis article:last-child {
    grid-column-start: 4;
    grid-row:  1 / span 4;
  }
  */

/*
  #primary-analysis ul {
    height: 100%;
    overflow: scroll;
    display: grid;
    grid-template-columns: 25% 25% 25%;  
    /*display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }


/*  #primary-analynonei:first-child {
    background: #00DE5D;
  }
 #primary-analysis li:last-child {
    width: 60%;
    height: 18%;
  }

  #primary-analysis li:nth-child(2) {
    --li-width: 100%;
    width: var(--li-width);
    margin-left: calc(100% - var(--li-width));
  }

  */